{% extends 'base.html' %}{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Add Customer{% endblock %}</title>
  </head>

  <body>
    {% block content %}

    <div>
      <style>
        h6 {
          color: red;
        }
      </style>
      {% for message in messages %}
      <h6 class="text-center">{{message}}</h6>
      {% endfor %}
    </div>

    <form method="POST" class="vh-300" style="background-color: #151e9e">
      {% csrf_token %}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block"></div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form>
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="{% static 'images/logo.png' %}" alt="logo" />
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px">
                        <strong>Add Customer</strong>
                      </h5>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="email"
                          ><strong>Email address</strong></label
                        >
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="firstName"
                          ><strong>First Name</strong></label
                        >
                        <input
                          type="firstName"
                          id="firstName"
                          name="firstName"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="middleName"
                          ><strong>Middle Name</strong></label
                        >
                        <input
                          type="middleName"
                          id="middleName"
                          name="middleName"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="lastName"
                          ><strong>Last Name</strong></label
                        >
                        <input
                          type="lastName"
                          id="lastName"
                          name="lastName"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="dob"
                          ><strong>DOB</strong></label
                        >
                        <input
                          type="date"
                          id="dob"
                          name="dob"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="phoneNumber"
                          ><strong>Phone Number</strong></label
                        >
                        <input
                          type="tel"
                          id="phoneNumber"
                          name="phoneNumber"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="streetAddress"
                          ><strong>Street Address</strong></label
                        >
                        <input
                          type="text"
                          id="streetAddress"
                          name="streetAddress"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="city"
                          ><strong>City</strong></label
                        >
                        <input
                          type="text"
                          id="city"
                          name="city"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="post_code_or_zip"
                          ><strong>Zip / Post Code</strong></label
                        >
                        <input
                          type="text"
                          id="post_code_or_zip"
                          name="post_code_or_zip"
                          class="form-control form-control-lg" />
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="country"
                          ><strong>Country</strong></label
                        >
                        <br />
                        <select class="form-label" name="country">
                          <option value="">Select Country</option>
                          {% for code, name in country_choices %}
                          <option value="{{code}}">{{name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <br />
                      <button
                        data-mdb-ripple-init
                        type="submit"
                        class="btn btn-primary btn-rounded">
                        Add Customer
                      </button>
                      <br />
                      <br />
                      <a href="#!" class="small text-muted mt-5"
                        >Terms of use.</a
                      >
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock %}
  </body>
</html>
