{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Add Customer{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <link rel="stylesheet" href="{% static 'css/add.css' %}" />
    <form
      class="justify-content-center add-container mt-5 col-4 mx-auto"
      method="POST">
      {% csrf_token %}
      <h3 class="text-center">Add Customer</h3>
      <div>
        <style>
          h6 {
            color: red;
          }
        </style>
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
      </div>
      <div class="form-group">
        <label class="m-3" for="email"><strong>Email Address</strong></label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email" />
      </div>
      <div class="form-group">
        <label class="m-3" for="firstName"><strong>First Name</strong></label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter First Name" />
      </div>
      <div class="form-group">
        <label class="m-3" for="middleName"><strong>Middle Name</strong></label>
        <input
          type="text"
          class="form-control"
          id="middleName"
          name="middleName"
          placeholder="Enter Middle Name" />
      </div>
      <div class="form-group">
        <label class="m-3" for="lastName"><strong>Last Name</strong></label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter Last Name" />
      </div>
      <div class="form-group">
        <label class="m-3" for="dob"><strong>DOB</strong></label>
        <input
          type="date"
          class="form-control"
          id="dob"
          name="dob"
          placeholder="Enter DOB" />
      </div>
      <div class="form-group">
        <label class="m-3" for="phoneNumber"
          ><strong>Phone Number</strong></label
        >
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          placeholder="Enter Phone Number" />
      </div>
      <div class="form-group">
        <label class="m-3" for="streetAddress"
          ><strong>Street Address</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="streetAddress"
          name="streetAddress"
          placeholder="Enter Address" />
      </div>
      <div class="form-group">
        <label class="m-3" for="city"><strong>City</strong></label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          placeholder="Enter City" />
      </div>
      <div class="form-group">
        <label class="m-3" for="post_code_or_zip"
          ><strong>Zip / Post Code</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="post_code_or_zip"
          name="post_code_or_zip"
          placeholder="Enter Zip/Post Code" />
      </div>
      <div class="form-group">
        <label class="m-3" for="country"><strong>Country</strong></label>
        <select class="form-control" name="country" id="country">
          <option value="">Select Country</option>
          {% for code, name in country_choices %}
          <option value="{{code}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Add Customer</button>
    </form>
    {% endblock %}
  </body>
</html>
