{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Add Bank Details{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <link rel="stylesheet" href="{% static 'css/add.css' %}" />
    <form
      class="justify-content-center add-container mt-5 col-4 mx-auto"
      method="POST">
      {% csrf_token %}
      <h3 class="text-center">Assign Banker</h3>
      <div class="form-group">
        <label for="customer" class="m-3"><strong>Customer</strong></label>
        <select
          name="customer"
          id="customer"
          class="dropdown form-control"
          required>
          customer
          <option value="">Customer</option>
          {% for customer in customers %}
          <option value="{{customer.uuid}}">
            {{customer.first_name}} {{customer.last_name}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="m-3" for="bankerName"><strong>Banker Name</strong></label>
        <select
          class="dropdown form-control"
          name="bankerName"
          id="bankerName"
          required>
          <option value="{{current_user.id}}" selected>
            {{current_user.first_name}} {{current_user.last_name}}
          </option>
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Assign Banker</button>
    </form>
    {% endblock %}
  </body>
</html>
