{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Add Bank Details{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <form
      class="justify-content-center add-container mt-5 col-4 mx-auto"
      method="POST">
      {% csrf_token %}
      <h3 class="text-center">Add Customer Bank Details</h3>
      <div>
        <style>
          h6 {
            color: red;
          }
        </style>
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="customer" class="m-3"><strong>Customer</strong></label>
        <select
          class="form-control dropdown"
          name="customer"
          id="customer"
          required>
          <option value="">------------------</option>
          {% for customer in customers %}
          <option value="{{ customer.uuid }}">{{ customer.first_name }} {{ customer.last_name }}</option>
          {% endfor %}
        </select>
      </div>
      <label class="m-3" for="account"><strong>Account Type</strong></label>
        <select
          class="form-control dropdown"
          name="account"
          id="account"
          required>
          <option value="">Select Account</option>
          {% for code, name in account_type %}
          <option value="{{code}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="m-3" for="bankName"><strong>Bank Name :</strong></label>
        <select name="bankName" id="bankName" required>
          {% for code, name in bank_name %}
          <option value="{{code}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="m-3" for="bankAddress"><strong>Bank Address :</strong></label>
        <select name="bankAddress" id="bankAddress" required>
          {% for code, name in bank_address %}
          <option value="{{code}}">{{name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="m-3" for="accountNumber"><strong>Account Number</strong></label>
        <input
          type="tel"
          class="form-control"
          id="accountNumber"
          name="accountNumber"
          placeholder="Enter Account Number"
          required />
      </div>
      <div class="form-group">
        <label class="m-3" for="balance"><strong>Balance</strong></label>
        <input
          type="tel"
          class="form-control"
          id="balance"
          name="balance"
          placeholder="Enter Account balance"
          required />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Add Account Details</button>
    </form>
    {% endblock %}
  </body>
</html>
