{% extends 'base.html' %}{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Add Banker{% endblock %}</title>
  </head>

  <body>
    {% block content %}

    <div>
      <style>
        h6 {
          color: red;
        }
      </style>
      {% for message in messages %}
      <h6 class="text-center">{{message}}</h6>
      {% endfor %}
    </div>

    <form method="POST" class="vh-300" style="background-color: #151e9e">
      {% csrf_token %}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block"></div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form>
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="{% static 'images/logo.png' %}" alt="logo" />
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px">
                        <strong>Assign Banker</strong>
                      </h5>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label for="customer" class="m-3"
                          ><strong>Customer</strong></label
                        >
                        <select
                          class="form-control dropdown"
                          name="customer"
                          id="customer"
                          required>
                          <option value="">
                            ----------------------------------------
                          </option>
                          {% for customer in customers %}
                          <option value="{{ customer.uuid }}">
                            {{ customer.first_name }} {{ customer.last_name }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="bankerName"
                          ><strong>Banker Name</strong></label
                        >
                        <select
                          class="form-control dropdown"
                          name="bankerName"
                          id="bankerName"
                          required>
                          <option value="{{current_user.id}}" selected>
                            {{current_user.first_name}}
                            {{current_user.last_name}}
                          </option>
                        </select>
                      </div>

                      <br />
                      <button
                        type="submit"
                        class="btn btn-primary rounded-pill"
                        data-mdb-ripple-init>
                        Assign Banker
                      </button>
                      <br />
                      <br />
                      <a href="#!" class="small text-muted mt-5"
                        >Terms of use.</a
                      >
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock %}
  </body>
</html>
