{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Knowledge" />
    <meta name="description" content="CRM Application" />
    <title>{% block title%}Base{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link
      rel="icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="index"
              href="{% url 'profile' %}"
              data-mdb-ripple-init
              >Home</a
            >
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="accounts"
              href="{% url 'accounts' %}"
              data-mdb-ripple-init
              >Accounts</a
            >
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="addCustomer"
              href="{% url 'add' %}"
              data-mdb-ripple-init
              >Add Customer</a
            >
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="addBankDetails"
              href="{% url 'bankaccount' %}"
              data-mdb-ripple-init
              >Add Bank Details</a
            >
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="banker"
              href="{% url 'banker' %}"
              data-mdb-ripple-init
              >Assign banker</a
            >
            <!-- Nav link for Logout -->
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="logout"
              href="{% url 'logout' %}"
              data-mdb-ripple-init
              >Logout</a
            >
            {% else %}
            <!-- Nav link for login -->
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="login"
              href="{% url 'login' %}"
              data-mdb-ripple-init
              >Login</a
            >
            <!-- Nav link for Sign Up -->
            <a
              class="nav-item nav-link btn btn-primary me-3"
              id="sign-up"
              href="{% url 'signup' %}"
              data-mdb-ripple-init
              >Sign Up</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="footer text-center my-5">
      <p>&copy; 2024 Banking App. All rights reserved.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
