{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Customers List{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <h2 class="text-center">Customer List</h2>
    <hr />
    <div class="col-6 container justify-content-center">
      {% for customer in customers %}
    </div>
    {% endblock %}
  </body>
</html>
