{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Knowledge" />
    <meta name="description" content="CRM Application" />
    <title>{% block title %}Confirm Delete {%endblock %}</title>
  </head>

  {% block content %}
  <link rel="stylesheet" href="{% static 'css/delete.css' %}" />
  <body>
    <div class="delete-container container mt-5">
      <h3>
        Are you sure you want to delete the {{account.account_type}} account
        {{account.account_number}} for {{account.customer}} ?
      </h3>
      <form method="POST">
        {% csrf_token %}
        <a
          href="{% url 'accounts' %}"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-init
          >Cancel</a
        >
        <button
          type="submit"
          class="btn btn-danger btn-primary"
          data-mdb-ripple-init>
          Confirm Delete
        </button>
      </form>
    </div>
  </body>

  {% endblock %}
</html>
