{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Edit Profile{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <div class="container col-6">
        <div class="header">
            <h1 class="text-center mt-5">Edit Profile</h1>
            <div>
              <style>
                h6 {
                  color: red;
                }
              </style>
              {% for message in messages %}
              <h6>{{message}}</h6>
              {% endfor %}
            </div>
        </div>

        <form class="col-4 justify-content-center container" action="POST">
          {% csrf_token %}
            <div class="form-group">
                <label class="m-3" for="email"> Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter Email" />
              </div>
              <div class="form-group">
                <label class="m-3" for="firstName"> First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="Enter First Name"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="middleName"> Middle Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="middleName"
                  name="middleName"
                  placeholder="Enter Middle Name" />
              </div>
              <div class="form-group">
                <label class="m-3" for="lastName"> Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  placeholder="Enter Last Name"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="phoneNumber"> Phone Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phoneNumber"
                  name="phoneNumber"
                  placeholder="Enter Phone Number"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="streetAddress"> Street Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="streetAddress"
                  name="streetAddress"
                  placeholder="Enter Address"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  placeholder="Enter City"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="post_code_or_zip"> Zip / Post Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="post_code_or_zip"
                  name="post_code_or_zip"
                  placeholder="Enter Zip/Post Code"
                  required />
              </div>
              <div class="form-group">
                <label class="m-3" for="country">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="country"
                  name="country"
                  placeholder="Enter Country"
                  required />
              </div>
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>
              <hr>
              <div class="d-grid gap-2 col-6 mx-auto">
              <button name="delete-account" type="submit" class="btn btn-danger mt-5">Delete Account</button>
            </div>
        </form>
    <div class="footer text-center my-5">
      <p>&copy; 2023 Banking App. All rights reserved.</p>
    </div>
    {% endblock %}
  </body>
</html>
