{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <div class="container header my-5 text-center">
      <div>
        <style>
          h6 {
            color: red;
          }
        </style>
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
      </div>
      <h1>Welcome to Your Banking App</h1>
    </div>

    <div class="container col-6">
      <div class="content">
        <div class="card">
          <h3 class="text-center mt-3">Accounts Overview</h3>
          <p class="text-center">
            Check your account balances and manage your accounts.
          </p>
          <a class="text-center mb-3" href="#">View Accounts</a>
        </div>
        <div class="card">
          <h3 class="text-center mt-3">Customers List</h3>
          <p class="text-center">View your entire customer database.</p>
          <a class="text-center mb-3" href="{% url 'view' %}">View Customers</a>
        </div>
        <div class="card">
          <h3 class="text-center mt-3">Edit Profile</h3>
          <p class="text-center">Update your user account information</p>
          <a class="text-center mb-3" href="{% url 'edit' %}"
            >Edit User Profile</a
          >
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
